In [68]:
# imports the necessary python modules
import os
import pandas as pd
import datetime

# obtains the machine username for cleaner file paths
user = os.environ["HOME"]

In [69]:
#
calendar_data = pd.date_range(pd.datetime.today(), periods=365).tolist()

# creates calender_data dataframe
calendar_data = pd.DataFrame(calendar_data)

calendar_data.columns = ['DateTime']

# creates Date column from DateTime column
calendar_data['Date'] = calendar_data['DateTime'].dt.date

# creates day column
calendar_data['Day'] = calendar_data['DateTime'].dt.weekday_name

calendar_data.head()

                    DateTime        Date       Day
0 2018-11-02 14:10:19.944082  2018-11-02    Friday
1 2018-11-03 14:10:19.944082  2018-11-03  Saturday
2 2018-11-04 14:10:19.944082  2018-11-04    Sunday
3 2018-11-05 14:10:19.944082  2018-11-05    Monday
4 2018-11-06 14:10:19.944082  2018-11-06   Tuesday

In [70]:
#
def f(row):
    if row['Day'] == 'Monday':
        val = 1
    elif row['Day'] == 'Tuesday':
        val = 2
    elif row['Day'] == 'Wednesday':
        val = 3
    elif row['Day'] == 'Thursday':
        val = 4
        
    elif row['Day'] == 'Friday':
        val = 5
        
    elif row['Day'] == 'Saturday':
        val = 6
        
    elif row['Day'] == 'Sunday':
        val = 7
    else:
        val = 0
    return val

#
calendar_data['DOW'] = calendar_data.apply(f, axis=1)

calendar_data.head()

                    DateTime        Date       Day  DOW
0 2018-11-02 14:10:19.944082  2018-11-02    Friday    5
1 2018-11-03 14:10:19.944082  2018-11-03  Saturday    6
2 2018-11-04 14:10:19.944082  2018-11-04    Sunday    7
3 2018-11-05 14:10:19.944082  2018-11-05    Monday    1
4 2018-11-06 14:10:19.944082  2018-11-06   Tuesday    2

In [71]:
#
calendar_data = calendar_data[['Date','Day','DOW']]

calendar_data.head()

         Date       Day  DOW
0  2018-11-02    Friday    5
1  2018-11-03  Saturday    6
2  2018-11-04    Sunday    7
3  2018-11-05    Monday    1
4  2018-11-06   Tuesday    2

In [72]:
# outputs the calender data to csv
calendar_data.to_csv(user+"/Documents/CSC7052_Data_Preprocessing/data/calendar.csv", index=False)